@model IEnumerable<Group32_Client.Models.Restaurant>
@{
    ViewData["Title"] = "Reviews";
}
<div class="text-center">
    <h1 class="display-4">Welcome to ON Foodie</h1>
    <p>Here is the list of local restaurant(s) you may like</p>
    <p class="my-1">
        <a class="btn btn-success float-left my-1" asp-action="CreateRestaurant">Add Restaurant</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    Review(s)
                </th>
                <th>
                    Add Review
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Delete
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-action="ReviewList" asp-controller="Review" asp-route-resId="@item.DestinationId">View</a>
                        </td>
                        <td>
                            <a class="btn btn-info" asp-action="CreateReview" asp-controller="Review" asp-route-resId="@item.DestinationId">Add</a>
                        </td>
                        <td>
                            <a class="btn btn-warning" asp-action="UpdateRestaurant" asp-controller="Restaurant" asp-route-resId="@item.DestinationId">Edit</a>
                        </td>
                        <td>
                            <a class="btn btn-danger" asp-action="DeleteRestaurant" asp-controller="Restaurant" asp-route-resId="@item.DestinationId">Delete</a>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>
